body {
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #6A11CB , #8C0B8E, #7B0EAC);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
  }
  
  .recovery-container {
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 15px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    width: 350px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  h2 {
    font-size: 1.5em;
    color: #ffffff; 
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #e0e0e0; 
  }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.3); 
        font-size: 14px;
        background: rgba(255, 255, 255, 0.2); 
        color: #000000;
        transition: all 0.3s ease-in-out;
    }

  .input-icon {
    position: relative;
    margin-bottom: 15px;
  }

  .input-icon input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  
  .input-icon input {
    width: 100%;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input-icon i {
    position: absolute;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
    color: #00fff7;
  }

  input::placeholder{
    color: rgba(240, 240, 240, 0.8);
    font-weight: 300;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #007bff, #00c6ff);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background: linear-gradient(to right, #0056b3, #007bff);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Disabled Button */
  button:disabled {
    background: #ccc;
    cursor: not-allowed;
    box-shadow: none;
  }
  
  
  p a {
    color: #00fff7;
    text-decoration: none;
    cursor: pointer;
  }
  
  p a:hover{
    text-decoration: underline;
  }
  
  .error {
    color: rgb(255, 193, 7);
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  /* Animation Effect */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  